<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>I Delivery Services | CRM</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap" rel="stylesheet">
  <script src="../static/js/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="../static/css/main.css">


</head>
{% block body_block %}
<div class="login_contianer">
  <input type="hidden" id="login_success" value="{% url 'base_app:index' %}" />
    <div class="login_box">
      <div class="col-md-7 float-left no-padding col-6">
        <div class="left_login">
            <img src="/static/images/img_12.png" class="mt_20" style="">
          <span class="font_14 mt_30 float-left">Manage sales and purchase orders, create packages and shipments, and send delivery updates through a single order management system. Dedicate more time to growing your orders than managing them.</span>
          <span class="font_18 w-100 pt_30 float-left" style="font-weight:700;">Manage</span>
          <span class="w-100 float-left" style="">Manage your order with our Powerful Order management Tool.</span>
          <span class="font_18 w-100 pt_30 float-left" style="font-weight:700;">Manage</span>
          <span class="w-100 float-left" style="">You can track your order with individuals step
              Based on stages</span>
          

        </div>
      </div>
      <div class="col-md-5 float-left no-padding col-6">
        <div class="right_login">
          <img src="/static/images/logo.svg" class="" style="max-width: 120px;">
          <span class="font_14 second_color w-100 float-left mt_30">WELCOME BACK</span>
          <h1 class="header_title float-left mb_20 w-100">Login to your account</h1>
          <form id="login_form" action="{% url 'base_app:login' %}" method="POST">

            {% csrf_token %}

            <div class="form-group col-12 col-md-12 float-left no-padding">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group col-12 col-md-12 float-left no-padding">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
        
            
              
            <a onclick="proceedUserLogin()" name="" value="Login" class="btn primary_btn w-100" style="color: #fff !important;">login</a>
            <span id="error_el" class="error_msg_box error_msg_box_bg mt_10"></span>

          </form>
        </div>
      </div> <!--Left END-->
    </div>

</div>
<script src="{% static "js/delivery_agents.js" %}" > </script>

{% endblock %}
