{% extends "base_app/base.html" %}
{% block body_block %}
{% load staticfiles %}

    <input type="hidden" id="order_fetch" value="{% url 'base_app:get_order_details' %}" />
    <input type="hidden" id="url_order_status" value="{% url 'base_app:change_order_status' %}" />

  <div class="filter_container">  <!-- ==== Filter Container ======================-->
    <div class="form-group col-md-2 pl_0 float-left">
      <label for="">By Status</label>
      <select class="form-control" name="">
          <option value=""> Placed </option>
          <option value=""> Deliverd </option>
      </select>
    </div>
    <div class="form-group col-md-2 pl_0 float-left">
      <label for="">By Customer Name</label>
      <input type="text" class="form-control" id="item_name" name="" placeholder="Search by Customer">
    </div>
    <div class="form-group col-md-2 pl_0 float-left">
      <label for="">Order Id</label>
      <input type="text" class="form-control" id="item_name" name="" placeholder="Order Number">
    </div>
    <div class="form-group col-md-2 pl_0 float-left">
      <label for="">Invoice Id</label>
      <input type="text" class="form-control" id="item_name" name="" placeholder="Search by Id">
    </div>
    <div class="form-group col-md-1 pl_0 pr_0 float-left mt_5"> <label for=""></label><button type="button" class="btn btn-secondary float-left">Search</button> </div>
    <div class="form-group col-md-2 pl_0 float-left">

      <a href class="icon_set icon_download"> Export Report</a>
    </div>
    <div class="form-group col-md-1 pl_0 float-right">
      <button type="button"  onclick="openDaOrderForm()" class="mt_30 btn primary_btn float-right">Create Order</button>
    </div>

</div> <!-- ==== End of Filter Container ======================-->
<div class="common_container pt_0">
  <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>Order Items</th>
              <th>Delivery Location</th>
              <th>Agent Name</th>
              <th>Booked on</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>

                <td style="width:5%;">{{ order.order_meta.order_id }}</td>
                <td style="width:10%;">{{ order.order_foreign.user_customer.user }}</td>
                <td style="width:25%;">{{ order.order_meta.order_items }}</td>
                <td style="width:15%;">{{ order.order_foreign.user_customer.user_location_display }}</td>
                <td style="width:10%;">{{ order.order_foreign.user_delivery_agent }}</td>
                <td style="width:10%;">{{ order.order_meta.created_at }}</td>
=
                <td onclick="changeOrderStatus('{{order.order_meta.status}}','{{order.order_meta.order_id}}')" style="width:20%;">{{ order.order_meta.status }} </td>
                <td style="width:13%;">

                <td style="width:10%;">
                  <select class="from-control" name="order_status" id="order_status" onchange="updateOrderStatus('{{ order.order_meta.order_id }}')">
                    {% for key, value in order_status_list.items %}
                        {% if value == order.order_meta.status %}
                             <option value="{{key}}" selected='selected'>{{value}}</option>
                        {% else %}
                             <option value="{{key}}">{{value}}</option>
                        {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td style="width:25%;">

                  <input type="hidden" value="{{ order.order_meta.slug }}" />
                  <button  onclick="getOrderDetails('{{ order.order_meta.order_id }}')" type="button" name="button" class="float-left edit_btn"> Edit</button>
                  <button  onclick="viewEachOrderDetail('{{ order.order_meta.order_id }}')" type="button" name="button" class="float-left view_btn"> View</button> </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
</div>



{% if orders.has_other_pages %}

  <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if orders.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in orders.paginator.page_range %}
          {% if orders.number == i %}
        <li class="page-item active"><a class="page-link" href="#"><span>{{ i }}</span></a> </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if orders.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next </a></li>
        {% else %}
        <!-- <li class="disabled"><span>&raquo;</span></li> -->
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    </nav>


{% endif %}

<!-- order create alert -->

<div class="modal fade" id="create_order_form_parent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog model_create_order" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create an Order</h5>

          <button type="button" class="close" onclick="resetFrom('create_order_form')"data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="/order_create/" method="POST" name="create_order_form" id="create_order_form">
            {% csrf_token %}
            <div class="col-md-5 float-left no-padding col-12">
                <h1 class="primary_title float-left mb_10 w-100">Primary Information</h1>
                <input type="hidden" class="form-control" name="pk" id="pk"  placeholder="Order Id" >

              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Customer Name</label>
                <input type="text" class="form-control" name="username" id="username"  placeholder="Full Name" >
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Phone Number</label>
                <input type="number" max_length="10" class="form-control" name="phone_primary" id="phone_primary"  placeholder="10 digit number">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Delivery Locality</label>
                <input type="text" class="form-control" name="location_area" id="location_area"  placeholder="Delivery Locality">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Street Name </label>
                <input type="text" class="form-control" name="location_sublocality" id="location_sublocality"  placeholder="Flat / House no / Floor">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Landmark (optional) </label>
                <input type="text" class="form-control" name="location_locality" id="location_locality" placeholder="eg: Near Apollo Pharmacy">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" name="location_city" id="location_city"  placeholder="City">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">Pincode</label>
                <input type="number" max_length="6" class="form-control" name="location_pincode" id="location_pincode"  placeholder="Pincode">
              </div>
              <div class="form-group col-md-6 pl_0 float-left">
                <label for="exampleInputEmail1">State</label>
                <select class="form-control" id="location_state" name="location_state">
                  {% for key, value in state_list.items %}
                  <option value="{{key}}"> {{value}} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-8 pl_0 float-left">
                <label for="exampleInputEmail1">Assign delivery Agent</label>
                <select class="form-control" id="user_delivery_agent" name="user_delivery_agent">
                  {% for delivery_agent in delivery_agents_list %}
                  <option value="{{delivery_agent.user}}"> {{delivery_agent.user}} </option>
                  {% endfor %}
                </select>
              </div>
              <span id="error_el" class="error_msg_box"></span>
              <span id="success_el" class="success_msg_box"></span>
            </div>
            <!--END of USER form Data-->
            <!-- product list alert -->
            <div class="col-md-7 float-left pr_0 col-12" style="">
                <h1 class="primary_title float-left mb_10">Product Requirment</h1>
                  <button type="button" onclick="getOrderItemComponent()" class="add_more float-right">+ Add More Items</button>
              <div id="order_item_list_parent" >
                <ul id="ole" class="product_list">
                  <li>
                    <div class="product_list">
                    <div class="form-group col-md-4  pl_0 float-left">
                    <label for="exampleInputEmail1">1. Items name / product name (ಉತ್ಪನ್ನದ ಹೆಸರು)</label>
                    <input type="text" class="form-control" id="item_name" name="item_name_1" placeholder="Write down the requirment">

                    </div>
                    <div class="form-group col-md-2 pl_0 float-left">
                    <label for="exampleInputEmail1">Quantity</label>
                    <input type="number" value="1" class="form-control" id="item_quantity" name="item_quantity_1" placeholder="Quantity">
                    </div>
                    <div class="form-group col-md-2 pl_0 float-left">
                    <label for="">UNIT</label>
                    <select class="form-control" id="measurement_unit" name="measurement_unit_1">
                    {% for measurements in measurements_list %}
                    <option value="{{measurements.name}}"> {{measurements.name}} </option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="from-group col-md-4 pl_0 float-left">
                      <label for="">Status</label>
                      <select class="form-control" id="order_item_status" name="order_item_status_1">
                        {% for key, value in order_item_status.items %}
                            {% if key == order.order_meta.status %}
                                 <option value="{{key}}" selected='selected'>{{value}}</option>
                            {% else %}
                                 <option value="{{key}}">{{value}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    </div>
                    <input type="hidden" class="form-control" name="item_pk_1" id="item_pk"  placeholder="Order Item Id" >

                  </li>
                </ul>
              </div>
            </div>
            <!-- ======== End of product list alert -->




          </form>
        </div>
        <!--BODY END HERE-->
        <div class="modal-footer">
          <button type="button" onclick="resetFrom('create_order_form')" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
          <button type="button" id="btn_submit" onclick="createOrder()" class="btn primary_btn float-right">Place Order</button>
          <!-- <button type="button" onclick="createOrder()" class="btn primary_btn float-right">Place Order</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="printableArea">
    <h1>Print me</h1>
</div> -->


<script>
// function printDiv(printableArea) {
//      var printContents = document.getElementById(printableArea).innerHTML;
//      var originalContents = document.body.innerHTML;

//      document.body.innerHTML = printContents;

//      window.print();

//      document.body.innerHTML = originalContents;

//      document.close();
// }
function printDiv() {
            var divContents = document.getElementById("printableArea").innerHTML;
            var a = window.open('', '', 'height=700, width=800');
            a.document.write('<html>');
            a.document.write('<body > <h1>Div contents are <br>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
            a.document.window.close();
        }

</script>
<style>
@media print {

  #printable { display: none; }

@media print
{
    #non-printable { display: none; }
    #printable { display: block; }
}
}
</style>
<!-- order view alert -->

  <div class="modal fade" id="order_view_alrt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model_register_boy" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="da_view_title">View order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="printableArea">

          {% csrf_token %}
          <div class="col-md-5 float-left no-padding col-12">
              <h1 class="primary_title float-left mb_10 w-100">Primary Information</h1>
              <input type="hidden" class="form-control" name="pk" id="pk"  placeholder="User Name" >

            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Customer Name</label>
              <span class="font_14 float-left" id="customer_name_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Phone Number</label>
              <span class="font_14 float-left" id="phone_primary_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Delivery Locality</label>
              <span class="font_14 float-left" id="location_area_v" > </span>
             </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Street Name </label>
              <span class="font_14 float-left" id="location_sublocality_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Landmark (optional) </label>
              <span class="font_14 float-left" id="location_locality_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">City</label>
              <span class="font_14 float-left" id="location_city_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">Pincode</label>
              <span class="font_14 float-left" id="locality_pincode_v" > </span>
            </div>
            <div class="form-group col-md-6 pl_0 float-left">
              <label for="exampleInputEmail1">State</label>
              <span class="font_14 float-left" id="location_state_v" > </span>
            </div>
            <div class="form-group col-md-8 pl_0 float-left">
              <label for="exampleInputEmail1">Assign delivery Agent</label>
              <span class="font_14 float-left" id="user_delivery_agent_v" > </span>
            </div>
            <span id="error_el" class="error_msg_box"></span>
            <span id="success_el" class="success_msg_box"></span>
          </div>
          <!--END of USER form Data-->
          <!-- product list alert -->
          <div class="col-md-7 float-left pr_0 col-12" style="">
              <h1 class="primary_title float-left mb_10">Product Requirment</h1>
                    <div id="order_item_list_parent" >
              <ul id="ole_view" class="product_list">
                <li>
                  <div class="product_list">
                  <div class="form-group col-md-8 pl_0 float-left">
                  <label for="exampleInputEmail1">1. Items name / product name (ಉತ್ಪನ್ನದ ಹೆಸರು)</label>
                  <span class="font_14 float-left" id="item_name_v" > </span>
                  </div>
                  <div class="form-group col-md-2 pl_0 float-left">
                  <label for="exampleInputEmail1">Quantity</label>
                  <span class="font_14 float-left" id="item_quantity_v" > </span>
                  </div>
                  <div class="form-group col-md-2 pl_0 float-left">
                  <label for="">UNIT</label>
                  <span class="font_14 float-left" id="measurement_unit_v" > </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
        </div>
      </div><!--BODY END HERE-->

  </div></div>
</div>
<!-- da view ends  -->




<!-- order status alert -->

  <div class="modal fade" id="status_alrt"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model_order_status" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <div class="float-left  col-12">
       <form id="radioForm">

          <label id="order_placed"><input type="radio" name="check" id="order_placed_r" value='ORDER_PLACED' onchange=""="upadteOrderStatus()"/> ORDER_PLACED</label>
          <label id="order_conform"><input type="radio" name="check"  id="order_conform_r" value='ORDER_CONFIRMED_BY_CUSTOMER' onchange="upadteOrderStatus()"/> ORDER_CONFIRMED_BY_CUSTOMER</label>
          <label id="order_picked"><input type="radio" name="check" id="order_picked_r" value='ORDER_PICKEDUP' onchange="upadteOrderStatus()"/> ORDER_PICKEDUP</label>
          <label id="order_delivered"><input type="radio" name="check" id="order_delivered_r" value='ORDER_DELIVERED' onchange="upadteOrderStatus()"> ORDER_DELIVERED</label>
          <label id="order_cancelled"><input type="radio" name="check" id="order_cancelled_r" value='ORDER_CANCELLED' onchange=""="upadteOrderStatus()"/> ORDER_CANCELLED</label>
           <input type="hidden" id="order_id"  name="order_id"value="" />
       </form>
        <br>
        <h6 class="modal-header_title" id="status_empty">Order status cannot be changed.</h6>

     </div>

            <span id="error_el" class="error_msg_box"></span>
            <span id="success_el" class="success_msg_box"></span>
          </div>

        </div>

      <div>
      </div>

      </div><!--BODY END HERE-->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>

      </div> -->
    </div>
  </div>
</div>
<!-- da view ends  -->

{% endblock %}
